@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

header, header > nav{
    flex-flow: column nowrap;
}

header > h1{
    flex-basis: 50px;
    align-content: center;
}

header > nav > a{
    width: 90vw;
}

main{
    max-width: 320px;
}